@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (min-width: 1900px)
{
.body{
max-width: 60%;
max-height: 60%;
}
   
}
*{
    font-family: 'Raleway', sans-serif;
}
.princ {
    width: 100%;;
    height: 750px;
    background-image: url('../img/fundo.jpeg');
    color: #ffffff;
  
}

#perfil img {

border-radius: 50%;

}

.html{
    margin-top: 23px;
}
#skills{
    margin-top: 100px;

}
#perfil {
    display: flex;
    margin-top: 100px;
    justify-content: center;
   
  
}

#lucas{
    display: flex;
    font-size: 10vh;
    font-weight: bold;
    justify-content: center;
 
  


}

#dev{
    display: flex;
    font-size: 2rem;

    font-weight: bold;
    justify-content: flex-end;
    margin-right: 10%;


}
.saiba{
    background-color: #282828;
}
.more {
width: 100%;
height: 200px;

color: white;
display: flex;
align-items: center;
justify-content: flex-end;

}
.more svg {

 margin-left: 5px;
}
.more a {
    text-decoration: none;
    color: white;
}
.more a:hover {
    text-decoration: none;
    color: white;
}
.sobre img {

    margin-top: 100px;
}
#sobre{
    font-weight: bold;
    font-size: 30px;
   
   
}
#linhae{
    border-left: 10px solid black;
    margin-top: 100px;
    height: fit-content;
}
#onde{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;

   
   
}
#linhad{
    border-right: 10px solid black;
    margin-top: 100px;
    height: fit-content;
  

}
.enco {
    margin-top: 150px;
}
.square {
    width: 50px;
    height: 50px;

    margin: 7px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes {
    display: flex;
    justify-content: flex-end;
}